<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 250px;
        }
        
        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }
        
        tr:nth-child(even) {
          background-color: #dddddd;
        }
    </style>
</head>
<body>
    <div id="app">
        <button onclick="vm.openForm()">Open Form</button>
        <h1>{{'Nilai a : '+a}}</h1>
        <h1>{{'Rata-Rata a : '+ra}}</h1>
        <p>Nilai yang dimasukkan</p>
        <table v-html="urutan"></table>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        var vm=new Vue({
            el:'#app',
            data:{
                a:0,
                ra:0,
                urutan:`<tr>
                            <th>No</th>
                            <th>Nilai</th>
                        </tr>`,
            },
            methods:{
                openForm:
                function(){
                    let temp=0
                    let counter=0                  
                    do {
                        var aa = prompt('Masukkan nilai a')
                        temp+=Number(aa)
                        counter++
                        if(aa!= null){
                            this.urutan+=`<tr>
                                            <td>${counter}</td>
                                            <td>${aa}</td>
                                        </tr>`
                        }
                    }
                    while (aa!= null); 
                    this.a=temp
                    this.ra=temp/(counter-1)
                }
            }
        })
    </script>
</body>
</html>