<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tugas 7-2-Tugas-Ajax</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <div>
        <h2 style="text-align: center;">Tugas 7-2-Tugas-Ajax</h2>
    </div>
    <br>
    <div id="app">
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <div class="card" style="width: 100%;">
                        <div class="card-header">Member</div>
                        <div class="card-body">
                            <div class="form-group">
                                <label >Nama</label>
                                <input type="text" :disabled="edited=='upload'" v-model="name" style="width: 100%;"/>
                                <label >Alamat</label>
                                <input type="text" :disabled="edited=='upload'" v-model="address" style="width: 100%;"/>
                                <label >No Hp</label>
                                <input type="text" :disabled="edited=='upload'" v-model="no_hp" style="width: 100%;"/>
                                <div v-if="edited=='submit'">
                                    <input @click="newMember" class="btn btn-primary mx-1 my-1" style="width: 100px;" type="button" value="Add">
                                </div>
                                <div v-else-if="edited=='update'">
                                    <input @click="updateMember(tempIndex)" type="button" value="Update" class="btn btn-primary mx-1 my-1" style="width: 100px;">
                                    <input @click="cancelUpdate" type="button" value="Cancel" class="btn btn-secondary mx-1 my-1" style="width: 100px;">
                                </div>
                                <div v-else-if="edited=='upload'">
                                    <label >Foto</label>
                                    <input type="file" name="photo" ref="photo" style="width: 100%;" >
                                    <input @click="uploadFotoMember(tempIndex)" type="button" value="Upload" class="btn btn-primary mx-1 my-1" style="width: 100px;">
                                    <input @click="cancelUpdate" type="button" value="Cancel" class="btn btn-secondary mx-1 my-1" style="width: 100px;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="width: 100%;">
                        <div class="card-header">Detail Member</div>
                        <div class="card-body">
                            <div class="form-group">
                                <label >Nama</label><label style="width: 100%;"> {{member.name}}</label>
                                <label >Alamat</label><label style="width: 100%;"> {{member.address}}</label>
                                <label >No Hp:</label><label style="width: 100%;"> {{member.no_hp}}</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <h4>Data Member</h4>
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <table class="table table-hover">
                        <thead>
                          <tr>
                            <th>Profile</th>
                            <th>Name</th>
                            <th>Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr v-for="member in members" :key="member.id">
                            <td><img width="100" :src="member.photo_profile? photoDomain+member.photo_profile : 'https://dummyimage.com/16:9x1080'" alt=""></td>
                            <td>{{member.name}}</td>
                            <td><button @click="detailMember(member.id)" class="btn btn-info mx-1 my-1" style="width: 100px;">Detail</button>
                              <button @click="uploadFoto(member)" class="btn btn-success mx-1 my-1" style="width: 100px;">Upload</button>
                              <button @click="editMember(member)" class="btn btn-warning mx-1 my-1" style="width: 100px;">Edit</button>
                              <button @click="deleteMember(member.id)" class="btn btn-danger mx-1 my-1" style="width: 100px;">Delete</button>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>
        </div>      
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        var api=axios.create({
            baseURL:'http://demo-api-vue.sanbercloud.com/api/'
        })

        let vm=new Vue({
            el:'#app',
            data:{
                tempIndex:null,
                name:'',
                address:'',
                no_hp:'',
                edited:'submit',
                members:[],
                photoDomain:'http://demo-api-vue.sanbercloud.com',
                member:{}
            },
            methods:{
                clearForm:function(){
                    this.name=''
                    this.address=''
                    this.no_hp=''
                },
                getAll:async function(){
                    try{
                        const config={
                            method:'get',
                            url:'member'
                        }
                        const res=await api(config)
                        this.members=res.data.members
                        console.log(this.members)
                    }catch(error){
                        console.log(error)
                    }
                },
                detailMember:async function(id){
                    try{
                        const config={
                            method:'get',
                            url:`member/${id}`
                        }
                        const res=await api(config)
                        this.member=res.data.member
                        console.log(this.member)
                    }catch(error){
                        console.log(error)
                    }
                },
                newMember:async function(){
                    try{
                        let newData=new FormData()
                        newData.append('name',this.name)
                        newData.append('address',this.address)
                        newData.append('no_hp',this.no_hp)
                        const config={
                            method:'post',
                            url:'member',
                            data: newData
                        }
                        const res=await api(config)
                        
                        this.clearForm()
                        this.getAll()
                        alert(res.data.message)
                        console.log(res.data.message)
                    }catch(error){
                        console.log(error)
                    }
                },
                deleteMember:async function(id){
                    try{
                        const config={
                            method:'post',
                            url:`member/${id}`,
                            params:{ _method:"DELETE" }
                        }
                        const res=await api(config)
                        this.getAll()
                        alert(res.data.message)
                        console.log(res.data.message)
                        this.member={}
                    }catch(error){
                        console.log(error)
                    }
                },
                editMember:async function(member){
                    this.edited='update'
                    this.tempIndex=member.id
                    this.name=member.name
                    this.address=member.address
                    this.no_hp=member.no_hp
                    this.member={}
                },
                cancelUpdate:function(){
                    this.edited='submit'
                    this.name=''
                    this.address=''
                    this.no_hp=''
                    this.tempIndex=null
                },
                updateMember:async function(id){
                    try{
                        let newData=new FormData()
                        newData.append('name',this.name)
                        newData.append('address',this.address)
                        newData.append('no_hp',this.no_hp)
                        const config={
                            method:'post',
                            url:`member/${id}`,
                            params:{_method:'PUT'},
                            data: newData
                        }
                        const res=await api(config)
                        this.clearForm()
                        this.getAll()
                        this.edited='submit'
                        alert(res.data.message)
                        console.log(res.data.message)
                    }catch(error){
                        console.log(error)
                    }
                },
                uploadFoto:async function(member){
                    this.edited='upload'
                    this.tempIndex=member.id
                    this.name=member.name
                    this.address=member.address
                    this.no_hp=member.no_hp
                    this.member={}
                },
                uploadFotoMember:async function(id){
                    try{
                        let file=this.$refs.photo.files[0]
                        let newData=new FormData()
                        newData.append('photo_profile',file)

                        const config={
                            method:'post',
                            url:`member/${id}/upload-photo-profile`,
                            data: newData
                        }
                        const res=await api(config)
                        this.clearForm()
                        this.getAll()
                        this.edited='submit'
                        alert(res.data.message)
                        console.log(res.data.message)
                    }catch(error){
                        console.log(error)
                    }
                },
            },
            created(){
                this.getAll()
            }
        })    
    </script>
</body>
</html>