<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>7-1-Tugas-Form-Input-Binding</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>

<body>
  <div id="app">
    <h2>7-1-Tugas-Form-Input-Binding</h2>
    <input type="text" v-model="keyword" placeholder="ketikkan kata kunci"/>
    <ul>
        <li v-for="item in booksFilter" >
            <p>{{item}}</p>
        </li>
    </ul>
  </div>

  <script>
    var app = new Vue({
      el: "#app",
      data: {
        keyword:'',
        books:[
                'Kalkulus Dasar',
                'Fisika Dasar',
                'Aljabar Linier Elementer',
                'Aljabar Abstrak',
                'Algoritma Pemrograman'
            ],
      },
      computed: {
        booksFilter() {
          return this.books.filter((book) => {
            return book.toLowerCase().includes(this.keyword.toLowerCase());
          });
        }
      }
    })
  </script>
</body>

</html>