<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Quiz-5</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>

<body>
  <div id="app">
    <h2>Quiz-5</h2>
    <input type="text" v-model:value="newUser" />
    <button v-if="edited" @click="addUser">Add</button>
    <button v-else @click="updateUser">update</button>
    <ul>
        <li v-for="item in users" :key="item.name">
            <h4>{{item.name}} || <button @click="editUser(item)">edit</button> || <button @click="deleteUser(item)">delete</button></h4>
        </li>
    </ul>
  </div>

  <script>
    var app = new Vue({
      el: "#app",
      data: {
        newUser: "",
        edited:true,
        tempIndex:0,
        users:[
                {'name':'Muhammad Iqbal Mubarok',},
                {'name':'Ruby Purwanti',},
                {'name':'Faqih Muhammad',},
            ],
      },
      methods: {
        addUser: function(){
            this.users.push({'name': this.newUser})
            this.newUser = ""
        },
        deleteUser: function(item){
          if (confirm(`Apakah akan menghapus data?`)) {
            this.users.splice(this.users.indexOf(item), 1);
          }
        },
        editUser: function(item){
          this.edited=!this.edited
          this.tempIndex=this.users.indexOf(item)
        },
        updateUser: function(){
            this.users.splice(this.tempIndex, 1,{'name': this.newUser});
            this.edited=true
            this.newUser = ""
        },
      }
    })
  </script>
</body>

</html>